In [275]:
from bs4 import BeautifulSoup as BS
import urllib as url
import pandas as pd
import numpy as np  
import re
from datetime import datetime

In [276]:
request = url.request.Request("https://en.wikipedia.org/wiki/List_of_deadly_earthquakes_since_1900")
result = url.request.urlopen(request)
resulttext = result.read()

In [277]:
soup = BS(resulttext, 'html.parser')

In [278]:
# the html has a number of tables and we want to  have a table that we are looking for , so that we explictly 
#pass the characterstics of the tables  through class_ as an argument . We find the characterstics from the html 

earthquake_table_list = soup.find_all('table', class_=['sortable', 'wikitable', 'jquery-tablesorter'])

# we will assert if we have got the table that we want for , we wnat only one table

assert len(earthquake_table_list) == 1

#  since we have the list , we  want to convert the list in to table (have to check this again)

earthquake_table = earthquake_table_list[0]

In [279]:
# once we have the table, we want to extract the table header represented as 'th' by using the find_all, find_all 

table_head = earthquake_table.find_all('th')

# here we are assigning the table for  header by looping through table head . 
#The result of the .text() method is a string containing the combined text of all matched elements.

columns = [th.text for th in table_head]

In [280]:
print(columns)

['Origin (UTC)', 'Present-day country and link to Wikipedia article', 'Lat', 'Long', 'Depth (km)', 'Magnitude', 'Secondary Effects', 'PDE Shaking Deaths', 'PDE Total Deaths', 'Utsu Total Deaths', 'EM-DAT Total Deaths', 'Other Source Deaths']

In [281]:
# find_all the rows of the table and skip the first column as the table header is one child it self.

table_rows = earthquake_table.find_all('tr')[1:]

#do a loop , create an empty set for  and store it as df_rows

df_rows = list()
for row in table_rows:
    row_data= [data.text for data in row.find_all('td')]
    
    df_rows.append(row_data)

In [282]:
for row in df_rows[:5]:
    print(row)

['1900-05-11 17:23', 'Japan', '38.700', '141.100', '5', '7.0 MJMA', '', '', '', '', '', '']
['1900-07-12 06:25', 'Turkey', '40.300', '43.100', '', '5.9 Muk', '', '', '', '140', '', '']
['1900-10-29 09:11', 'Venezuela', '11.000', '-66.000', '0', '7.7 Mw', '', '', '', '', '', '']
['1901-02-15 00:00', 'China', '26.000', '100.100', '0', '6.5 Ms', '', '', '', '', '', '']
['1901-03-31 07:11', 'Bulgaria', '43.400', '28.700', '', '6.4 Muk', '', '', '', '4', '', '']

In [283]:
#   the next step is creating a data frame , where we combine the two tables  row and column tables.# the data and the header 
earthquake_df = pd.DataFrame(data=df_rows, columns=columns)

earthquake_df

,Origin (UTC),Present-day country and link to Wikipedia article,Lat,Long,Depth (km),Magnitude,Secondary Effects,PDE Shaking Deaths,PDE Total Deaths,Utsu Total Deaths,EM-DAT Total Deaths,Other Source Deaths
0,1900-05-11 17:23,Japan,38.700,141.100,5,7.0 MJMA,,,,,,
1,1900-07-12 06:25,Turkey,40.300,43.100,,5.9 Muk,,,,140,,
2,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7 Mw,,,,,,
3,1901-02-15 00:00,China,26.000,100.100,0,6.5 Ms,,,,,,
4,1901-03-31 07:11,Bulgaria,43.400,28.700,,6.4 Muk,,,,4,,
5,1901-08-09 09:23,Japan,40.500,142.500,35,7.2 Mw,T,,,,,
6,1901-11-15 20:15,New Zealand (see 1901 Cheviot earthquake),-43.000,173.000,0,6.8 Ms,,,,1,,
7,1902-01-30 14:01,Japan,40.500,141.300,35,6.9 Ms,,,,1,,
8,1902-02-13 09:39,Azerbaijan,40.700,48.600,15,6.9 Muk,,,,86,,
9,1902-03-09 07:46,Turkey,40.700,33.600,,5.5 Muk,,,,4,,
10,1902-04-19 02:23,Guatemala (see 1902 Guatemala earthquake),14.000,-91.000,0,7.5 Mw,,,,2000,2000,
11,1902-07-03 15:36,China,43.200,129.600,20,6.7 Ms,,,,,,
12,1902-08-22 03:00,China,40.000,77.000,0,7.7 Mw,,,,5650,,
13,1902-09-19,Australia,-35.000,138.000,2,6.0 ML,,,,2,,
14,1902-12-16 05:07,Uzbekistan,40.800,72.300,9,6.4 Muk,,,,4725,,
15,1903-03-29 22:30,Judea and Samaria,32.200,35.300,,5.7 Muk,,,,20,,
16,1903-04-28,Turkey (see 1903 Manzikert earthquake),39.14,42.65,,7.0 Ms,,,,,,3500
17,1903-05-28 03:58,Turkey,40.900,42.700,,5.8 Muk,,,,1000,,
18,1903-08-11 04:32,Greece,36.360,22.970,80,8.3 Muk,,,,2,,
19,1903-09-25 01:20,Iran,35.200,58.200,,6.5 Muk,,,,200,,
20,1904-04-24 06:39,Taiwan,23.500,120.500,,6.0 Muk,,,,3,,
21,1904-08-11 05:56,Greece,37.750,27.000,10,6.2 Muk,,,,4,,
22,1904-08-30 11:42,China,30.000,101.000,0,6.8 Ms,,,,565,,
23,1904-11-05 20:25,Taiwan (see 1904 Douliu earthquake),23.500,120.300,,6.3 Muk,,,,145,,
24,1905-04-04 00:50,India,33.000,76.000,0,7.8 Mw,,,,20000,20000,
25,1905-06-01 04:42,Albania,42.100,19.600,20,6.6 Muk,,,,120,,
26,1905-06-02 05:39,Japan,34.100,132.500,55,7.0 mb,,,,11,,
27,1905-09-08 01:43,Italy (see 1905 Calabria earthquake),39.000,16.000,0,6.8 Ms,T,,,557,2500,
28,1905-11-08 22:06,Greece,40.000,24.000,0,6.8 Ms,,,,,,
29,1906-01-31 15:36,Ecuador (see 1906 Ecuador–Colombia earthquake),1.000,-81.500,0,8.8 Muk,T,,,1000,400,
...,...,...,...,...,...,...,...,...,...,...,...,...
1310,2008-05-25 08:21,China,32.560,105.423,18,6.1 Mw,L,8,8,,,
1311,2008-06-06 20:02,Algeria,35.883,-0.658,4,5.5 Mw,,0,1,,,
1312,2008-06-08 12:25,Greece (see 2008 Peloponnese earthquake),37.963,21.525,16,6.4 Mw,,2,2,,2,
1313,2008-06-13 23:43,Japan (see 2008 Iwate–Miyagi Nairiku earthquake),39.030,140.881,7,6.9 Mw,L,13,13,,13,
1314,2008-06-17 05:51,China,32.761,105.554,10,4.8 mb,,2,2,,,
1315,2008-07-15 03:26,Greece (see 2008 Dodecanese earthquake),35.983,27.785,68,6.4 Mw,,,,,,
1316,2008-08-21 12:24,China (see 2008 Yingjiang earthquakes),25.1,97.9,,5.9 Ms,,,,,,
1317,2008-08-30 8:30,China (see 2008 Panzhihua earthquake),26.0,101.9,10,5.7 Mw,,,,,,41
1318,2008-10-05 15:52,Kyrgyzstan (see 2008 Kyrgyzstan earthquake),39.515,73.768,27.6,6.9 Mw,,,,,,60[16]
1319,2008-10-06 16:30,China (see 2008 Damxung earthquake),,,,6.4 Mw,,,,,,
1320,2008-10-28 23:09,Pakistan (see 2008 Ziarat earthquake),,,,6.4 Mw,,,,,,215
1321,2009-01-08 19:21,Costa Rica (see 2009 Cinchona earthquake),10.3962,-84.0281,48,6.1 Mw,L,,,,,34
1322,2009-04-06 03:32,Italy (see 2009 L'Aquila earthquake),42.334,13.334,8.8,6.2 Mw,,,,,,295
1323,2009-07-09 11:19,China (see 2009 Yunnan earthquake),,,,5.7 Mw,,,,,,
1324,2009-08-10 20:07,Japan (see 2009 Shizuoka earthquake),,,,6.4 Mw,,,,,,1
1325,2009-09-02 07:55,Indonesia (see 2009 West Java earthquake),,,,7.0 Mw,,,,,,79
1326,2009-09-29 17:48,Samoa (see 2009 Samoa earthquake and tsunami),,,8.1,8.1 Mw,,,,,,189
1327,2009-09-30 10:16,Indonesia (see 2009 Padang earthquake),,,,7.6 Mw,,,,,,"1,115"
1328,2010-01-12 17:00,Haiti (see 2010 Haiti earthquake),18.457,-72.533,13,7.0 Mw,,,,,,"222,517[17]"
1329,2010-02-27 06:34,Chile (see 2010 Chile earthquake),-35.846,-72.719,35,8.8 Mw [18],T,,,,,521[19]
1330,2010-03-08 02:32,Turkey (see 2010 Elâzığ earthquake),,,,6.1 Mw,,,,,,42
1331,2010-03-11 14:39,Chile (see 2010 Pichilemu earthquake),,,,6.9 Mw,L,,,,,1
1332,2010-04-14 23:49,China (see 2010 Yushu earthquake),,,,6.9 Mw,L,,,,,"2,698"
1333,2011-02-21 23:51,New Zealand (see 2011 Christchurch earthquake),,,,6.3 Mw,Lq,,,,,181
1334,2011-03-10 04:58,China (see 2011 Yunnan earthquake),,,,5.4 Mw,,,,,,
1335,2011-03-11 14:46,Japan (see 2011 Tōhoku earthquake),38.322,142.369,24.4,9.0 Mw,T,,,,,15894[20]
1336,2011-03-24 20:25,Burma (see 2011 Burma earthquake),,,,6.8 Mw,,,,,,150+
1337,2011-04-07 14:32,Japan (see April 2011 Miyagi earthquake),38.2,140.0,66.0,7.1 Mw,,,,,,
1338,2011-09-18 12:40,India (see 2011 Sikkim earthquake),27.723,88.064,19.7,6.9 Mw,L,,,,,111+
1339,2011-09-23 10:41,Turkey (see 2011 Van earthquake),38.6,43.5,7.2,7.1 Mw,,,,,,"601 (as of October 30, 2011)"

In [284]:
#earthquake_df.replace(r'^\s*$', np.nan, inplace = True)

In [285]:
earthquake_df=earthquake_df.replace('', np.NaN)

In [286]:
earthquake_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 12 columns):
Origin (UTC)                                         1340 non-null object
Present-day country and link to Wikipedia article    1340 non-null object
Lat                                                  1326 non-null object
Long                                                 1326 non-null object
Depth (km)                                           1250 non-null object
Magnitude                                            1339 non-null object
Secondary Effects                                    373 non-null object
PDE Shaking Deaths                                   739 non-null object
PDE Total Deaths                                     750 non-null object
Utsu Total Deaths                                    1027 non-null object
EM-DAT Total Deaths                                  560 non-null object
Other Source Deaths                                  37 non-null object
dtypes: object(12)
memory usage: 125.7+ KB

In [287]:
# renaming a columns, is  there any other mechanism to rename a target column alone
earthquake_df.columns=["Origin(UTC)","country","Lat","Long", "Depth(km)","Magnitude","Secondary Effects","PDE Shaking Deaths",
                       "PDE Total Deaths","Utsu Total Deaths","EM-DAT Total Deaths","Other Source Deaths"]

In [288]:
earthquake_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 12 columns):
Origin(UTC)            1340 non-null object
country                1340 non-null object
Lat                    1326 non-null object
Long                   1326 non-null object
Depth(km)              1250 non-null object
Magnitude              1339 non-null object
Secondary Effects      373 non-null object
PDE Shaking Deaths     739 non-null object
PDE Total Deaths       750 non-null object
Utsu Total Deaths      1027 non-null object
EM-DAT Total Deaths    560 non-null object
Other Source Deaths    37 non-null object
dtypes: object(12)
memory usage: 125.7+ KB

In [289]:
# fixing issues with country columns  to have the unique name for each country.
# we need to make a decesion on the SaudiArabia/Egybt  observation

test="\s\(.*"
earthquake_df['country']= earthquake_df['country'].str.replace(test, "")
test2= "\,.*"
earthquake_df['country']=earthquake_df['country'].str.replace(test2, "")
test3="United States Minor.*"
earthquake_df['country']=earthquake_df['country'].str.replace(test3,"United States")
test4="US T.*"
earthquake_df['country']=earthquake_df['country'].str.replace(test4,"United States")
test5="\(.*"
earthquake_df['country']=earthquake_df['country'].str.replace(test5,"Venezuela")

In [290]:
earthquake_df['country'].value_counts()
# here we are observing  that a country name followed by ',' [Iran, 2005 Qeshm earthquake ]                              1
#and  country names with parenthesis .

China                                  166
Indonesia                               96
Turkey                                  95
Iran                                    92
Japan                                   82
Peru                                    54
Taiwan                                  48
Mexico                                  46
Chile                                   44
Greece                                  44
Philippines                             39
Italy                                   37
United States                           37
Afghanistan                             30
Pakistan                                26
India                                   25
Colombia                                24
Algeria                                 21
Ecuador                                 19
Papua New Guinea                        17
Guatemala                               15
South Africa                            14
Russian Federation                      13
Venezuela                               12
Argentina                               11
Burma                                   11
Costa Rica                              10
Georgia                                  9
New Zealand                              8
Tajikistan                               8
                                      ...
Guadeloupe                               1
Yugoslavia                               1
Montenegro                               1
Samoa                                    1
Uganda                                   1
Vietnam                                  1
Fiji                                     1
Saint Pierre and Miquelon                1
Sudan                                    1
Macedonia                                1
Belgium                                  1
Honduras                                 1
Spain                                    1
Netherlands                              1
Wallis and Futuna                        1
Ghana                                    1
Mozambique                               1
England                                  1
Tunisia                                  1
Malaysia                                 1
Brazil                                   1
Martinique                               1
Mandatory Palestine and Transjordan      1
Mongolia                                 1
Hungary                                  1
Czech Republic                           1
Rwanda                                   1
Burundi                                  1
Saudi Arabia/Egypt                       1
Syrian Arab Republic                     1
Name: country, Length: 106, dtype: int64

In [291]:
#splitted_country=earthquake_df['country'].str.split('(')
#splitted_country
#type(splitted_country)
#earthquake_df['country']=splitted_country
#earthquake_df

In [292]:
earthquake_df['scale']=earthquake_df['Magnitude']

In [293]:
earthquake_df

,Origin(UTC),country,Lat,Long,Depth(km),Magnitude,Secondary Effects,PDE Shaking Deaths,PDE Total Deaths,Utsu Total Deaths,EM-DAT Total Deaths,Other Source Deaths,scale
0,1900-05-11 17:23,Japan,38.700,141.100,5,7.0 MJMA,NaN,NaN,NaN,NaN,NaN,NaN,7.0 MJMA
1,1900-07-12 06:25,Turkey,40.300,43.100,NaN,5.9 Muk,NaN,NaN,NaN,140,NaN,NaN,5.9 Muk
2,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7 Mw,NaN,NaN,NaN,NaN,NaN,NaN,7.7 Mw
3,1901-02-15 00:00,China,26.000,100.100,0,6.5 Ms,NaN,NaN,NaN,NaN,NaN,NaN,6.5 Ms
4,1901-03-31 07:11,Bulgaria,43.400,28.700,NaN,6.4 Muk,NaN,NaN,NaN,4,NaN,NaN,6.4 Muk
5,1901-08-09 09:23,Japan,40.500,142.500,35,7.2 Mw,T,NaN,NaN,NaN,NaN,NaN,7.2 Mw
6,1901-11-15 20:15,New Zealand,-43.000,173.000,0,6.8 Ms,NaN,NaN,NaN,1,NaN,NaN,6.8 Ms
7,1902-01-30 14:01,Japan,40.500,141.300,35,6.9 Ms,NaN,NaN,NaN,1,NaN,NaN,6.9 Ms
8,1902-02-13 09:39,Azerbaijan,40.700,48.600,15,6.9 Muk,NaN,NaN,NaN,86,NaN,NaN,6.9 Muk
9,1902-03-09 07:46,Turkey,40.700,33.600,NaN,5.5 Muk,NaN,NaN,NaN,4,NaN,NaN,5.5 Muk
10,1902-04-19 02:23,Guatemala,14.000,-91.000,0,7.5 Mw,NaN,NaN,NaN,2000,2000,NaN,7.5 Mw
11,1902-07-03 15:36,China,43.200,129.600,20,6.7 Ms,NaN,NaN,NaN,NaN,NaN,NaN,6.7 Ms
12,1902-08-22 03:00,China,40.000,77.000,0,7.7 Mw,NaN,NaN,NaN,5650,NaN,NaN,7.7 Mw
13,1902-09-19,Australia,-35.000,138.000,2,6.0 ML,NaN,NaN,NaN,2,NaN,NaN,6.0 ML
14,1902-12-16 05:07,Uzbekistan,40.800,72.300,9,6.4 Muk,NaN,NaN,NaN,4725,NaN,NaN,6.4 Muk
15,1903-03-29 22:30,Judea and Samaria,32.200,35.300,NaN,5.7 Muk,NaN,NaN,NaN,20,NaN,NaN,5.7 Muk
16,1903-04-28,Turkey,39.14,42.65,NaN,7.0 Ms,NaN,NaN,NaN,NaN,NaN,3500,7.0 Ms
17,1903-05-28 03:58,Turkey,40.900,42.700,NaN,5.8 Muk,NaN,NaN,NaN,1000,NaN,NaN,5.8 Muk
18,1903-08-11 04:32,Greece,36.360,22.970,80,8.3 Muk,NaN,NaN,NaN,2,NaN,NaN,8.3 Muk
19,1903-09-25 01:20,Iran,35.200,58.200,NaN,6.5 Muk,NaN,NaN,NaN,200,NaN,NaN,6.5 Muk
20,1904-04-24 06:39,Taiwan,23.500,120.500,NaN,6.0 Muk,NaN,NaN,NaN,3,NaN,NaN,6.0 Muk
21,1904-08-11 05:56,Greece,37.750,27.000,10,6.2 Muk,NaN,NaN,NaN,4,NaN,NaN,6.2 Muk
22,1904-08-30 11:42,China,30.000,101.000,0,6.8 Ms,NaN,NaN,NaN,565,NaN,NaN,6.8 Ms
23,1904-11-05 20:25,Taiwan,23.500,120.300,NaN,6.3 Muk,NaN,NaN,NaN,145,NaN,NaN,6.3 Muk
24,1905-04-04 00:50,India,33.000,76.000,0,7.8 Mw,NaN,NaN,NaN,20000,20000,NaN,7.8 Mw
25,1905-06-01 04:42,Albania,42.100,19.600,20,6.6 Muk,NaN,NaN,NaN,120,NaN,NaN,6.6 Muk
26,1905-06-02 05:39,Japan,34.100,132.500,55,7.0 mb,NaN,NaN,NaN,11,NaN,NaN,7.0 mb
27,1905-09-08 01:43,Italy,39.000,16.000,0,6.8 Ms,T,NaN,NaN,557,2500,NaN,6.8 Ms
28,1905-11-08 22:06,Greece,40.000,24.000,0,6.8 Ms,NaN,NaN,NaN,NaN,NaN,NaN,6.8 Ms
29,1906-01-31 15:36,Ecuador,1.000,-81.500,0,8.8 Muk,T,NaN,NaN,1000,400,NaN,8.8 Muk
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1310,2008-05-25 08:21,China,32.560,105.423,18,6.1 Mw,L,8,8,NaN,NaN,NaN,6.1 Mw
1311,2008-06-06 20:02,Algeria,35.883,-0.658,4,5.5 Mw,NaN,0,1,NaN,NaN,NaN,5.5 Mw
1312,2008-06-08 12:25,Greece,37.963,21.525,16,6.4 Mw,NaN,2,2,NaN,2,NaN,6.4 Mw
1313,2008-06-13 23:43,Japan,39.030,140.881,7,6.9 Mw,L,13,13,NaN,13,NaN,6.9 Mw
1314,2008-06-17 05:51,China,32.761,105.554,10,4.8 mb,NaN,2,2,NaN,NaN,NaN,4.8 mb
1315,2008-07-15 03:26,Greece,35.983,27.785,68,6.4 Mw,NaN,NaN,NaN,NaN,NaN,NaN,6.4 Mw
1316,2008-08-21 12:24,China,25.1,97.9,NaN,5.9 Ms,NaN,NaN,NaN,NaN,NaN,NaN,5.9 Ms
1317,2008-08-30 8:30,China,26.0,101.9,10,5.7 Mw,NaN,NaN,NaN,NaN,NaN,41,5.7 Mw
1318,2008-10-05 15:52,Kyrgyzstan,39.515,73.768,27.6,6.9 Mw,NaN,NaN,NaN,NaN,NaN,60[16],6.9 Mw
1319,2008-10-06 16:30,China,NaN,NaN,NaN,6.4 Mw,NaN,NaN,NaN,NaN,NaN,NaN,6.4 Mw
1320,2008-10-28 23:09,Pakistan,NaN,NaN,NaN,6.4 Mw,NaN,NaN,NaN,NaN,NaN,215,6.4 Mw
1321,2009-01-08 19:21,Costa Rica,10.3962,-84.0281,48,6.1 Mw,L,NaN,NaN,NaN,NaN,34,6.1 Mw
1322,2009-04-06 03:32,Italy,42.334,13.334,8.8,6.2 Mw,NaN,NaN,NaN,NaN,NaN,295,6.2 Mw
1323,2009-07-09 11:19,China,NaN,NaN,NaN,5.7 Mw,NaN,NaN,NaN,NaN,NaN,NaN,5.7 Mw
1324,2009-08-10 20:07,Japan,NaN,NaN,NaN,6.4 Mw,NaN,NaN,NaN,NaN,NaN,1,6.4 Mw
1325,2009-09-02 07:55,Indonesia,NaN,NaN,NaN,7.0 Mw,NaN,NaN,NaN,NaN,NaN,79,7.0 Mw
1326,2009-09-29 17:48,Samoa,NaN,NaN,8.1,8.1 Mw,NaN,NaN,NaN,NaN,NaN,189,8.1 Mw
1327,2009-09-30 10:16,Indonesia,NaN,NaN,NaN,7.6 Mw,NaN,NaN,NaN,NaN,NaN,"1,115",7.6 Mw
1328,2010-01-12 17:00,Haiti,18.457,-72.533,13,7.0 Mw,NaN,NaN,NaN,NaN,NaN,"222,517[17]",7.0 Mw
1329,2010-02-27 06:34,Chile,-35.846,-72.719,35,8.8 Mw [18],T,NaN,NaN,NaN,NaN,521[19],8.8 Mw [18]
1330,2010-03-08 02:32,Turkey,NaN,NaN,NaN,6.1 Mw,NaN,NaN,NaN,NaN,NaN,42,6.1 Mw
1331,2010-03-11 14:39,Chile,NaN,NaN,NaN,6.9 Mw,L,NaN,NaN,NaN,NaN,1,6.9 Mw
1332,2010-04-14 23:49,China,NaN,NaN,NaN,6.9 Mw,L,NaN,NaN,NaN,NaN,"2,698",6.9 Mw
1333,2011-02-21 23:51,New Zealand,NaN,NaN,NaN,6.3 Mw,Lq,NaN,NaN,NaN,NaN,181,6.3 Mw
1334,2011-03-10 04:58,China,NaN,NaN,NaN,5.4 Mw,NaN,NaN,NaN,NaN,NaN,NaN,5.4 Mw
1335,2011-03-11 14:46,Japan,38.322,142.369,24.4,9.0 Mw,T,NaN,NaN,NaN,NaN,15894[20],9.0 Mw
1336,2011-03-24 20:25,Burma,NaN,NaN,NaN,6.8 Mw,NaN,NaN,NaN,NaN,NaN,150+,6.8 Mw
1337,2011-04-07 14:32,Japan,38.2,140.0,66.0,7.1 Mw,NaN,NaN,NaN,NaN,NaN,NaN,7.1 Mw
1338,2011-09-18 12:40,India,27.723,88.064,19.7,6.9 Mw,L,NaN,NaN,NaN,NaN,111+,6.9 Mw
1339,2011-09-23 10:41,Turkey,38.6,43.5,7.2,7.1 Mw,NaN,NaN,NaN,NaN,NaN,"601 (as of October 30, 2011)",7.1 Mw

In [294]:
#for date_str in earthquake_df["Origin(UTC)]":
   # Origin(UTC) = datetime.strptime(date_str,'%m/%d/%Y')
   # print(Origin(UTC))

In [295]:
#Data cleaning tasks include:

#Replace empty strings with NaN
#Remove the footnotes from the 'Other Source Deaths' column
#Convert Magnitude to a numeric
#Create a new column ('deaths') that evaluates the four total-death columns ('PDE Total Deaths', 'Utsu Total Deaths', 'EM-DAT Total Deaths', and 'Other Source Deaths') and populates the new column with the highest value.
#Explore the data in terms of when and where earthquakes occurred and how severe they were (magnitude, deaths, secondary effects).

In [296]:
earthquake_df['Other Source Deaths']

0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
5                                NaN
6                                NaN
7                                NaN
8                                NaN
9                                NaN
10                               NaN
11                               NaN
12                               NaN
13                               NaN
14                               NaN
15                               NaN
16                              3500
17                               NaN
18                               NaN
19                               NaN
20                               NaN
21                               NaN
22                               NaN
23                               NaN
24                               NaN
25                               NaN
26                               NaN
27                               NaN
28                               NaN
29                               NaN
                    ...
1310                             NaN
1311                             NaN
1312                             NaN
1313                             NaN
1314                             NaN
1315                             NaN
1316                             NaN
1317                              41
1318                          60[16]
1319                             NaN
1320                             215
1321                              34
1322                             295
1323                             NaN
1324                               1
1325                              79
1326                             189
1327                           1,115
1328                     222,517[17]
1329                         521[19]
1330                              42
1331                               1
1332                           2,698
1333                             181
1334                             NaN
1335                       15894[20]
1336                            150+
1337                             NaN
1338                            111+
1339    601 (as of October 30, 2011)
Name: Other Source Deaths, Length: 1340, dtype: object

In [297]:
# removing the footnotes and commas between numbers in [Other Source Deaths]

test6="\[.*|\+|\s\(.*|\*"
earthquake_df['Other Source Deaths']=earthquake_df['Other Source Deaths'].str.replace(test6,"")
test7="\,"
earthquake_df['Other Source Deaths']=earthquake_df['Other Source Deaths'].str.replace(test7,"")

In [298]:
earthquake_df['Other Source Deaths']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16        3500
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
         ...
1310       NaN
1311       NaN
1312       NaN
1313       NaN
1314       NaN
1315       NaN
1316       NaN
1317        41
1318        60
1319       NaN
1320       215
1321        34
1322       295
1323       NaN
1324         1
1325        79
1326       189
1327      1115
1328    222517
1329       521
1330        42
1331         1
1332      2698
1333       181
1334       NaN
1335     15894
1336       150
1337       NaN
1338       111
1339       601
Name: Other Source Deaths, Length: 1340, dtype: object

In [299]:
# Converting magnitude to numeric 
earthquake_df['Magnitude'].dtype

dtype('O')

In [300]:
d_types = set([type(val) for val in earthquake_df['Magnitude']])

In [301]:
d_types

{float, str}

In [320]:
y=earthquake_df['Magnitude'].str.split(' ').str.get(1)
y

0       MJMA
1        Muk
2         Mw
3         Ms
4        Muk
5         Mw
6         Ms
7         Ms
8        Muk
9        Muk
10        Mw
11        Ms
12        Mw
13        ML
14       Muk
15       Muk
16        Ms
17       Muk
18       Muk
19       Muk
20       Muk
21       Muk
22        Ms
23       Muk
24        Mw
25       Muk
26        mb
27        Ms
28        Ms
29       Muk
        ...
1310      Mw
1311      Mw
1312      Mw
1313      Mw
1314      mb
1315      Mw
1316      Ms
1317      Mw
1318      Mw
1319      Mw
1320      Mw
1321      Mw
1322      Mw
1323      Mw
1324      Mw
1325      Mw
1326      Mw
1327      Mw
1328      Mw
1329      Mw
1330      Mw
1331      Mw
1332      Mw
1333      Mw
1334      Mw
1335      Mw
1336      Mw
1337      Mw
1338      Mw
1339      Mw
Name: Magnitude, Length: 1340, dtype: object

In [302]:
x = '7.86 mg'

In [303]:
y = x.split(' ')

ValueError: split() requires a non-empty pattern match.

In [ ]:
def (x):
    y=earthquake_df['Magnitude'].str.split('')
    
    if y[1]=='MW':
        return float(y[0])
    elif y[1]=='MW':
        return float(y[0])
    elif y[1]=='MW':
        return float(y[0])
    elif y[1]=='MW':
        return float(y[0])
    elif y[1]=='MW':
        return float(y[0])
    elify[1]=='MW':
        return float(y[0])
    else:
        return NaN
earthquake_df['']