In [1]:
from bs4 import BeautifulSoup as BS
import urllib as url
import pandas as pd
import numpy as np  
import re

In [2]:
request = url.request.Request("https://en.wikipedia.org/wiki/List_of_deadly_earthquakes_since_1900")
result = url.request.urlopen(request)
resulttext = result.read()

In [3]:
soup = BS(resulttext, 'html.parser')

In [4]:
# the html has a number of tables and we want to  have a table that we are looking for , so that we explictly 
#pass the characterstics of the tables  through class_ as an argument . We find the characterstics from the html 

earthquake_table_list = soup.find_all('table', class_=['sortable', 'wikitable', 'jquery-tablesorter'])

# we will assert if we have got the table that we want for , we wnat only one table

assert len(earthquake_table_list) == 1

#  since we have the list , we  want to convert the list in to table (have to check this again)

earthquake_table = earthquake_table_list[0]

In [5]:
# once we have the table, we want to extract the table header represented as 'th' by using the find_all, find_all 

table_head = earthquake_table.find_all('th')

# here we are assigning the table for  header by looping through table head . 
#The result of the .text() method is a string containing the combined text of all matched elements.

columns = [th.text for th in table_head]

In [6]:
print(columns)

['Origin (UTC)', 'Present-day country and link to Wikipedia article', 'Lat', 'Long', 'Depth (km)', 'Magnitude', 'Secondary Effects', 'PDE Shaking Deaths', 'PDE Total Deaths', 'Utsu Total Deaths', 'EM-DAT Total Deaths', 'Other Source Deaths']

In [7]:
# find_all the rows of the table and skip the first column as the table header is one child it self.

table_rows = earthquake_table.find_all('tr')[1:]

#do a loop , create an empty set for  and store it as df_rows

df_rows = list()
for row in table_rows:
    row_data= [data.text for data in row.find_all('td')]
    
    df_rows.append(row_data)

In [8]:
for row in df_rows[:5]:
    print(row)

['1900-05-11 17:23', 'Japan', '38.700', '141.100', '5', '7.0 MJMA', '', '', '', '', '', '']
['1900-07-12 06:25', 'Turkey', '40.300', '43.100', '', '5.9 Muk', '', '', '', '140', '', '']
['1900-10-29 09:11', 'Venezuela', '11.000', '-66.000', '0', '7.7 Mw', '', '', '', '', '', '']
['1901-02-15 00:00', 'China', '26.000', '100.100', '0', '6.5 Ms', '', '', '', '', '', '']
['1901-03-31 07:11', 'Bulgaria', '43.400', '28.700', '', '6.4 Muk', '', '', '', '4', '', '']

In [9]:
#   the next step is creating a data frame , where we combine the two tables  row and column tables.# the data and the header 
earthquake_df = pd.DataFrame(data=df_rows, columns=columns)

earthquake_df.head()

,Origin (UTC),Present-day country and link to Wikipedia article,Lat,Long,Depth (km),Magnitude,Secondary Effects,PDE Shaking Deaths,PDE Total Deaths,Utsu Total Deaths,EM-DAT Total Deaths,Other Source Deaths
0,1900-05-11 17:23,Japan,38.700,141.100,5,7.0 MJMA,,,,,,
1,1900-07-12 06:25,Turkey,40.300,43.100,,5.9 Muk,,,,140,,
2,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7 Mw,,,,,,
3,1901-02-15 00:00,China,26.000,100.100,0,6.5 Ms,,,,,,
4,1901-03-31 07:11,Bulgaria,43.400,28.700,,6.4 Muk,,,,4,,

In [10]:
#earthquake_df.replace(r'^\s*$', np.nan, inplace = True)

In [11]:
earthquake_df.replace('', np.NaN)

,Origin (UTC),Present-day country and link to Wikipedia article,Lat,Long,Depth (km),Magnitude,Secondary Effects,PDE Shaking Deaths,PDE Total Deaths,Utsu Total Deaths,EM-DAT Total Deaths,Other Source Deaths
0,1900-05-11 17:23,Japan,38.700,141.100,5,7.0 MJMA,NaN,NaN,NaN,NaN,NaN,NaN
1,1900-07-12 06:25,Turkey,40.300,43.100,NaN,5.9 Muk,NaN,NaN,NaN,140,NaN,NaN
2,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7 Mw,NaN,NaN,NaN,NaN,NaN,NaN
3,1901-02-15 00:00,China,26.000,100.100,0,6.5 Ms,NaN,NaN,NaN,NaN,NaN,NaN
4,1901-03-31 07:11,Bulgaria,43.400,28.700,NaN,6.4 Muk,NaN,NaN,NaN,4,NaN,NaN
5,1901-08-09 09:23,Japan,40.500,142.500,35,7.2 Mw,T,NaN,NaN,NaN,NaN,NaN
6,1901-11-15 20:15,New Zealand (see 1901 Cheviot earthquake),-43.000,173.000,0,6.8 Ms,NaN,NaN,NaN,1,NaN,NaN
7,1902-01-30 14:01,Japan,40.500,141.300,35,6.9 Ms,NaN,NaN,NaN,1,NaN,NaN
8,1902-02-13 09:39,Azerbaijan,40.700,48.600,15,6.9 Muk,NaN,NaN,NaN,86,NaN,NaN
9,1902-03-09 07:46,Turkey,40.700,33.600,NaN,5.5 Muk,NaN,NaN,NaN,4,NaN,NaN
10,1902-04-19 02:23,Guatemala (see 1902 Guatemala earthquake),14.000,-91.000,0,7.5 Mw,NaN,NaN,NaN,2000,2000,NaN
11,1902-07-03 15:36,China,43.200,129.600,20,6.7 Ms,NaN,NaN,NaN,NaN,NaN,NaN
12,1902-08-22 03:00,China,40.000,77.000,0,7.7 Mw,NaN,NaN,NaN,5650,NaN,NaN
13,1902-09-19,Australia,-35.000,138.000,2,6.0 ML,NaN,NaN,NaN,2,NaN,NaN
14,1902-12-16 05:07,Uzbekistan,40.800,72.300,9,6.4 Muk,NaN,NaN,NaN,4725,NaN,NaN
15,1903-03-29 22:30,Judea and Samaria,32.200,35.300,NaN,5.7 Muk,NaN,NaN,NaN,20,NaN,NaN
16,1903-04-28,Turkey (see 1903 Manzikert earthquake),39.14,42.65,NaN,7.0 Ms,NaN,NaN,NaN,NaN,NaN,3500
17,1903-05-28 03:58,Turkey,40.900,42.700,NaN,5.8 Muk,NaN,NaN,NaN,1000,NaN,NaN
18,1903-08-11 04:32,Greece,36.360,22.970,80,8.3 Muk,NaN,NaN,NaN,2,NaN,NaN
19,1903-09-25 01:20,Iran,35.200,58.200,NaN,6.5 Muk,NaN,NaN,NaN,200,NaN,NaN
20,1904-04-24 06:39,Taiwan,23.500,120.500,NaN,6.0 Muk,NaN,NaN,NaN,3,NaN,NaN
21,1904-08-11 05:56,Greece,37.750,27.000,10,6.2 Muk,NaN,NaN,NaN,4,NaN,NaN
22,1904-08-30 11:42,China,30.000,101.000,0,6.8 Ms,NaN,NaN,NaN,565,NaN,NaN
23,1904-11-05 20:25,Taiwan (see 1904 Douliu earthquake),23.500,120.300,NaN,6.3 Muk,NaN,NaN,NaN,145,NaN,NaN
24,1905-04-04 00:50,India,33.000,76.000,0,7.8 Mw,NaN,NaN,NaN,20000,20000,NaN
25,1905-06-01 04:42,Albania,42.100,19.600,20,6.6 Muk,NaN,NaN,NaN,120,NaN,NaN
26,1905-06-02 05:39,Japan,34.100,132.500,55,7.0 mb,NaN,NaN,NaN,11,NaN,NaN
27,1905-09-08 01:43,Italy (see 1905 Calabria earthquake),39.000,16.000,0,6.8 Ms,T,NaN,NaN,557,2500,NaN
28,1905-11-08 22:06,Greece,40.000,24.000,0,6.8 Ms,NaN,NaN,NaN,NaN,NaN,NaN
29,1906-01-31 15:36,Ecuador (see 1906 Ecuador–Colombia earthquake),1.000,-81.500,0,8.8 Muk,T,NaN,NaN,1000,400,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1310,2008-05-25 08:21,China,32.560,105.423,18,6.1 Mw,L,8,8,NaN,NaN,NaN
1311,2008-06-06 20:02,Algeria,35.883,-0.658,4,5.5 Mw,NaN,0,1,NaN,NaN,NaN
1312,2008-06-08 12:25,Greece (see 2008 Peloponnese earthquake),37.963,21.525,16,6.4 Mw,NaN,2,2,NaN,2,NaN
1313,2008-06-13 23:43,Japan (see 2008 Iwate–Miyagi Nairiku earthquake),39.030,140.881,7,6.9 Mw,L,13,13,NaN,13,NaN
1314,2008-06-17 05:51,China,32.761,105.554,10,4.8 mb,NaN,2,2,NaN,NaN,NaN
1315,2008-07-15 03:26,Greece (see 2008 Dodecanese earthquake),35.983,27.785,68,6.4 Mw,NaN,NaN,NaN,NaN,NaN,NaN
1316,2008-08-21 12:24,China (see 2008 Yingjiang earthquakes),25.1,97.9,NaN,5.9 Ms,NaN,NaN,NaN,NaN,NaN,NaN
1317,2008-08-30 8:30,China (see 2008 Panzhihua earthquake),26.0,101.9,10,5.7 Mw,NaN,NaN,NaN,NaN,NaN,41
1318,2008-10-05 15:52,Kyrgyzstan (see 2008 Kyrgyzstan earthquake),39.515,73.768,27.6,6.9 Mw,NaN,NaN,NaN,NaN,NaN,60[16]
1319,2008-10-06 16:30,China (see 2008 Damxung earthquake),NaN,NaN,NaN,6.4 Mw,NaN,NaN,NaN,NaN,NaN,NaN
1320,2008-10-28 23:09,Pakistan (see 2008 Ziarat earthquake),NaN,NaN,NaN,6.4 Mw,NaN,NaN,NaN,NaN,NaN,215
1321,2009-01-08 19:21,Costa Rica (see 2009 Cinchona earthquake),10.3962,-84.0281,48,6.1 Mw,L,NaN,NaN,NaN,NaN,34
1322,2009-04-06 03:32,Italy (see 2009 L'Aquila earthquake),42.334,13.334,8.8,6.2 Mw,NaN,NaN,NaN,NaN,NaN,295
1323,2009-07-09 11:19,China (see 2009 Yunnan earthquake),NaN,NaN,NaN,5.7 Mw,NaN,NaN,NaN,NaN,NaN,NaN
1324,2009-08-10 20:07,Japan (see 2009 Shizuoka earthquake),NaN,NaN,NaN,6.4 Mw,NaN,NaN,NaN,NaN,NaN,1
1325,2009-09-02 07:55,Indonesia (see 2009 West Java earthquake),NaN,NaN,NaN,7.0 Mw,NaN,NaN,NaN,NaN,NaN,79
1326,2009-09-29 17:48,Samoa (see 2009 Samoa earthquake and tsunami),NaN,NaN,8.1,8.1 Mw,NaN,NaN,NaN,NaN,NaN,189
1327,2009-09-30 10:16,Indonesia (see 2009 Padang earthquake),NaN,NaN,NaN,7.6 Mw,NaN,NaN,NaN,NaN,NaN,"1,115"
1328,2010-01-12 17:00,Haiti (see 2010 Haiti earthquake),18.457,-72.533,13,7.0 Mw,NaN,NaN,NaN,NaN,NaN,"222,517[17]"
1329,2010-02-27 06:34,Chile (see 2010 Chile earthquake),-35.846,-72.719,35,8.8 Mw [18],T,NaN,NaN,NaN,NaN,521[19]
1330,2010-03-08 02:32,Turkey (see 2010 Elâzığ earthquake),NaN,NaN,NaN,6.1 Mw,NaN,NaN,NaN,NaN,NaN,42
1331,2010-03-11 14:39,Chile (see 2010 Pichilemu earthquake),NaN,NaN,NaN,6.9 Mw,L,NaN,NaN,NaN,NaN,1
1332,2010-04-14 23:49,China (see 2010 Yushu earthquake),NaN,NaN,NaN,6.9 Mw,L,NaN,NaN,NaN,NaN,"2,698"
1333,2011-02-21 23:51,New Zealand (see 2011 Christchurch earthquake),NaN,NaN,NaN,6.3 Mw,Lq,NaN,NaN,NaN,NaN,181
1334,2011-03-10 04:58,China (see 2011 Yunnan earthquake),NaN,NaN,NaN,5.4 Mw,NaN,NaN,NaN,NaN,NaN,NaN
1335,2011-03-11 14:46,Japan (see 2011 Tōhoku earthquake),38.322,142.369,24.4,9.0 Mw,T,NaN,NaN,NaN,NaN,15894[20]
1336,2011-03-24 20:25,Burma (see 2011 Burma earthquake),NaN,NaN,NaN,6.8 Mw,NaN,NaN,NaN,NaN,NaN,150+
1337,2011-04-07 14:32,Japan (see April 2011 Miyagi earthquake),38.2,140.0,66.0,7.1 Mw,NaN,NaN,NaN,NaN,NaN,NaN
1338,2011-09-18 12:40,India (see 2011 Sikkim earthquake),27.723,88.064,19.7,6.9 Mw,L,NaN,NaN,NaN,NaN,111+
1339,2011-09-23 10:41,Turkey (see 2011 Van earthquake),38.6,43.5,7.2,7.1 Mw,NaN,NaN,NaN,NaN,NaN,"601 (as of October 30, 2011)"

In [12]:
earthquake_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 12 columns):
Origin (UTC)                                         1340 non-null object
Present-day country and link to Wikipedia article    1340 non-null object
Lat                                                  1340 non-null object
Long                                                 1340 non-null object
Depth (km)                                           1340 non-null object
Magnitude                                            1340 non-null object
Secondary Effects                                    1340 non-null object
PDE Shaking Deaths                                   1340 non-null object
PDE Total Deaths                                     1340 non-null object
Utsu Total Deaths                                    1340 non-null object
EM-DAT Total Deaths                                  1340 non-null object
Other Source Deaths                                  1338 non-null object
dtypes: object(12)
memory usage: 125.7+ KB

In [13]:
earthquake_df.columns=["Origin(UTC)","country","Lat","Long", "Depth(km)","Magnitude","Secondary Effects","PDE Shaking Deaths",
                       "PDE Total Deaths","Utsu Total Deaths","EM-DAT Total Deaths","Other Source Deaths"]

In [14]:
earthquake_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 12 columns):
Origin(UTC)            1340 non-null object
country                1340 non-null object
Lat                    1340 non-null object
Long                   1340 non-null object
Depth(km)              1340 non-null object
Magnitude              1340 non-null object
Secondary Effects      1340 non-null object
PDE Shaking Deaths     1340 non-null object
PDE Total Deaths       1340 non-null object
Utsu Total Deaths      1340 non-null object
EM-DAT Total Deaths    1340 non-null object
Other Source Deaths    1338 non-null object
dtypes: object(12)
memory usage: 125.7+ KB

In [15]:
test="(\s\(.*)"
earthquake_df['country']= earthquake_df['country'].str.replace(test, "")

In [16]:
earthquake_df['country']

0                   Japan
1                  Turkey
2               Venezuela
3                   China
4                Bulgaria
5                   Japan
6             New Zealand
7                   Japan
8              Azerbaijan
9                  Turkey
10              Guatemala
11                  China
12                  China
13              Australia
14             Uzbekistan
15      Judea and Samaria
16                 Turkey
17                 Turkey
18                 Greece
19                   Iran
20                 Taiwan
21                 Greece
22                  China
23                 Taiwan
24                  India
25                Albania
26                  Japan
27                  Italy
28                 Greece
29                Ecuador
              ...
1310                China
1311              Algeria
1312               Greece
1313                Japan
1314                China
1315               Greece
1316                China
1317                China
1318           Kyrgyzstan
1319                China
1320             Pakistan
1321           Costa Rica
1322                Italy
1323                China
1324                Japan
1325            Indonesia
1326                Samoa
1327            Indonesia
1328                Haiti
1329                Chile
1330               Turkey
1331                Chile
1332                China
1333          New Zealand
1334                China
1335                Japan
1336                Burma
1337                Japan
1338                India
1339               Turkey
Name: country, Length: 1340, dtype: object

In [24]:
earthquake_df['scale']=earthquake_df['Magnitude']

In [25]:
earthquake_df.head()

,Origin(UTC),country,Lat,Long,Depth(km),Magnitude,Secondary Effects,PDE Shaking Deaths,PDE Total Deaths,Utsu Total Deaths,EM-DAT Total Deaths,Other Source Deaths,scale
0,1900-05-11 17:23,Japan,38.700,141.100,5,7.0 MJMA,,,,,,,7.0 MJMA
1,1900-07-12 06:25,Turkey,40.300,43.100,,5.9 Muk,,,,140,,,5.9 Muk
2,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7 Mw,,,,,,,7.7 Mw
3,1901-02-15 00:00,China,26.000,100.100,0,6.5 Ms,,,,,,,6.5 Ms
4,1901-03-31 07:11,Bulgaria,43.400,28.700,,6.4 Muk,,,,4,,,6.4 Muk